* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
:root {
  --highlight-color: hsl(220, 98%, 61%);
  --bg-gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.dark-theme {
  --body-bg: hsl(235, 21%, 11%);
  --todo-bg: hsl(235, 24%, 19%);
  /* --todo-font: hsl(234, 39%, 85%); */
  --todo-font-hover: hsl(236, 33%, 92%);
  --placeholder: hsl(233, 14%, 35%);
  --todo-font: hsl(234, 11%, 52%);
  --header-bg: url("./images/bg-desktop-dark.jpg");
  --check-icon: url("./images/icon-check.svg");
}

.light-theme {
  --body-bg: hsl(233, 11%, 84%);
  --todo-bg: hsl(0, 0%, 98%);
  --todo-font: hsl(235, 19%, 35%);
  --todo-font-hover: hsl(237, 14%, 26%);
  --placeholder: hsl(236, 9%, 61%);
  --header-bg: url("./images/bg-desktop-light.jpg");
  /* --Very-Light-Grayish-Blue: hsl(236, 33%, 92%); */
  --check-icon: url("./images/icon-check-light.svg");
}

html {
  font-size: 18px;
}
body {
  background: var(--body-bg);
}

header {
  height: 40vh;
  background: var(--header-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  position: relative;
}
.todo-app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  height: 28rem;
  margin: auto;
}

h1 {
  color: white;
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
}
.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.themeToggle {
  cursor: pointer;
}
.complete {
  text-decoration: line-through;
  color: var(--placeholder) !important;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 1rem;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  width: calc(100% - 6rem);
  background: var(--todo-bg);
  color: var(--todo-font);
  height: 100%;
}

.todo-input::placeholder {
  color: var(--placeholder);
}

.todo-button {
  padding: 1rem;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: var(--bg-gradient);
  color: white;
  text-transform: capitalize;
  width: 6rem;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: var(--todo-font);
  background: var(--todo-bg);

  padding: 1rem;
  border-radius: 5px;
  width: 100%;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.i-check,
.i-cross,
.i-edit {
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
}
.i-check:hover,
.i-cross:hover,
.i-edit:hover {
  cursor: pointer;
}
.i-cross {
  background: url("./images/icon-cross.svg") center no-repeat;
  right: 20px;
}
.i-check {
  left: 20px;
  border: 2px solid var(--placeholder);
  background: transparent;
}
.i-edit {
  right: 60px;
  background: url("./images/icon-edit.svg") center no-repeat;
}

.todo-header {
  margin-bottom: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-row p {
  padding-left: 40px;
  padding-right: 80px;
  width: 100%;
}
.complete .i-check,
.complete .i-check:hover {
  border-image: var(--bg-gradient);
  border-image-slice: 1;
  background: transparent;
  background: var(--check-icon) center no-repeat;
}
.todo-row:hover .i-check {
  border-image: var(--bg-gradient);
  border-image-slice: 1;
}

.todo-list {
  padding-left: 2rem;
  padding-right: 2rem;
  overflow-x: hidden;
  overflow-y: scroll;
}
.todo-list::-webkit-scrollbar {
  display: none;
}
.todo-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.todo-row {
  position: relative;
}
.i-edit:hover,
.i-cross:hover {
  transform: scale(1.25);
}
